TODO
# microservice/.env
.redis
.protobuf
front/front
microservice/microservice
scripts/go
microservice/client/client1
microservice/client/client
microservice/server/server
microservice/server/server1